.features{
    padding-top: 79px;
    text-align: center;
    height: 613px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.featuresHeader{
    margin: auto;
    width: 517px;
    font-weight: 600;
    font-size: 31px;
    line-height: 48px;
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
}

.card {
    margin: 56px;
    width: 290px;
    height: 264px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    cursor: pointer;
}

.cardContent{
    width: 80%;
    height: 80%;
    text-align: center;
}

.more{
    text-decoration: underline;
}

.more:hover{
    cursor: pointer;
}